# EditorConfig for ktlint
# https://github.com/pinterest/ktlint

root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.{kt,kts}]
ktlint_code_style = ktlint_official
max_line_length = 120
ij_kotlin_imports_layout = *, ^
ktlint_standard_filename = disabled
ktlint_function_naming_ignore_when_annotated_with = Composable

# ActionRegistry 中 Action 后缀属性命名（符合 GOAP 术语约定）
[**/ActionRegistry.kt]
ktlint_standard_property-naming = disabled
